.mainResult{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultButton{
    text-decoration: underline;
}
.resultButton:hover{
    cursor: pointer;
}
.divTable {
    display: table;
}
.divTableRow {
    display: flex;
    width: 100%;
    /*clear: both;*/
    height: 50px;
    align-items: center;
}
.divTableCol, .divTableCol1 {
    float: left; /* fix for  buggy browsers */
    /*display: table-column;*/
    width: 150px;
    /*width: 300px;*/
    background-color: rgba(204, 204, 204, 0.39);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.divTableBlock {
    display: flex;
    justify-content: center;
}

.divHeaderBlock {
    display: flex;
    justify-content: space-between;
    /*margin-top: 50px;*/
}

.divSearchBlock {
    display: flex;
    /*margin: 50px;*/
}

.divSelectBlock {
    /*margin: 10px 0;*/
}

.settings {
    display: flex;
    flex-direction: column;
    /*height: 100px;*/
    justify-content: space-between;
}
.tableWrapper {
    background-color: #FEFEFF;
}
@media screen and (max-width: 1073px){
    .divTable{
    }
    .divTableRow{

    }
    .divTableCol1{
        width: 16vh;
    }
    .divTableCol{
        width: 9vh;
        height: 50px;
        display: flex;
        flex-direction: column;
    }
    .divTableBlock{
    }

}