.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button {
    width: 50px;
}
.deleteButton {
    background-color: red;
}
.deleteButton:hover {
    background-color: #f35f42;
}