body {
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 300;
    font-size: 18.54px;
    color: black;
}
.app{
    display: flex;
    justify-content: space-between;
    min-height: 100vh;

    width: 100%;
}
.advertising{
    width: 20%;
    height: 50%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.center{
    min-height: 50vh;
    width: 700px;
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
}
.right{
    width: 1%;
}
@media screen and (max-width: 1073px) {
    .app{
        flex-direction: column;
        flex-wrap: wrap;
        /*justify-content: space-around;*/
    }
    .center {
        width: 100%;
    }
    .advertising{
        /*flex-direction: row;*/

        width: 100%;
        height: 10%;
    }
}